@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato:wght@400;700&display=swap');
@import "tailwindcss";

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}
.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

@keyframes slideUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
.animate-slideUp {
    animation: slideUp 0.3s ease-out forwards;
}

@theme {
    --color-void: #0A0A0E;

    --font-text: 'Lato', sans-serif;
    --font-subheading: 'Libre Franklin', sans-serif;
    --font-logo: 'Old Standard TT', serif;
    --font-alucard-heading: 'Cinzel', serif;
}